{% extends 'base.html' %}
{% load static %}
{% block content %}

    <section class="page-content">
			<div class="container">
	            <div class="row">
					<div class="col-md-12">
						<ul class="page-menu">
							<li><a href="/">Home</a></li>
							<li><a href="#">cameras & photography</a></li>
							<li class="active"><a href="#">Toch Prond</a></li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						{% include 'landing/left_sidebar_category_meny.html' %}
	                    <div class="sidebar-banner hidden-sm hidden-xs">
	                    	<div class="active-sidebar-banner">
	                    		<div class="single-sidebar-banner">
	                    			<a href="#"><img src="{% static 'img//banner/1.jpg' %}" alt="Product Banner"></a>
	                    		</div>
	                    		<div class="single-sidebar-banner">
	                    			<a href="#"><img src="{% static 'img//banner/2.jpg' %}" alt="Product Banner"></a>
	                    		</div>
	                    	</div>
	                    </div>
	                    <!-- END SIDEBAR-BANNER -->
					</div>
					<div class="col-md-9 col-sm-12 col-xs-12">
						<!-- Start Toch-Prond-Area -->

						<div class="toch-prond-area">
                         {% if not products_in_basket %}
                                    <h3>Корзина пустая...!!!</h3>
                             <div class="buttons pull-right">
													<a href="/"><input type="submit" class="btn btn-primary" value="Вернуться в магазин" /></a>
                             </div>
                        {% else %}
                             <form class="form-horizontal" method="post">{% csrf_token %}
                                         <div class="form-group ">
                                             <label>Имя</label>
                                             <span class="form-error">{{ form.name.errors }}</span>
                                             <input type="text" name="{{ form.name.html_name }}" class="form-control"
                                                    value = "{{ request.POST.name }}"
                                             >

                                         </div>
                                         <div class="form-group">
                                             <label>Телефон</label>
                                             <span class="form-error">{{ form.phone.errors }}</span>
                                             <input type="text" name="{{ form.phone.html_name }}" class="form-control"
                                                    value = "{{ request.POST.phone }}"
                                             >
                                         </div>
													<div class="table-responsive">
														<table class="table table-bordered table-hover">
															<thead>
																<tr>
																	<td class="text-left">Product Name</td>
																	<td class="text-left">Model</td>
																	<td class="text-left">Quantity</td>
																	<td class="text-left">Unit Price</td>
																	<td class="text-left">Total</td>
																</tr>
															</thead>
															<tbody>
                                                            {% for product in products_in_basket %}
                                                                <tr>

                                                                        <td class="text-left">
                                                                            <a href="{% url 'product' product.product.id %}">{{ product.product.name }}</a>
                                                                        </td>
                                                                        <td class="text-left"></td>
                                                                        <td class="text-left">
                                                                            {{ product.nmb }}
                                                                        </td>
                                                                        <td class="text-left">
                                                                            <span class="product-price">
                                                                                {{ product.price_per_item }}
                                                                            </span>
                                                                            </td>
                                                                        <td class="text-left">
                                                                                  <span class ="total-product-in-basket-amount">
                                                                            {{ product.total_price }}
                                                                                      </span>

                                                                        </td>
                                                                        <td class="text-left">
                                                                            <a class="delete-item" name="{{ product.product.name }}" href="/delete_item_in_basket/{{ product.product_id }}">X</a>
                                                                        </td>

                                                                </tr>
															{% endfor %}
															</tbody>
															<tfoot>
																<tr>
																	<td class="text-right" colspan="4">
																		<strong>Сумма заказа:</strong>
																	</td>
																	<td class="text-right">
                                                                        <span class="total_order_amount">
                                                                            ${{ total_price }}
                                                                        </span>

                                                                    </td>
																</tr>
{#																<tr>#}
{#																	<td class="text-right" colspan="4">#}
{#																		<strong>Flat Shipping Rate:</strong>#}
{#																	</td>#}
{#																	<td class="text-right">$5.00</td>#}
{#																</tr>#}
{#																<tr>#}
{#																	<td class="text-right" colspan="4">#}
{#																		<strong>Flat Shipping Rate:</strong>#}
{#																	</td>#}
{#																	<td class="text-right">$5.00</td>#}
{#																</tr>#}
															</tfoot>
														</table>
													</div>
													<div class="buttons pull-right">
														<input  type="submit" class="btn btn-primary" value="Схранить заказ/перейти к оплате" />
													</div>
                                           </form>
                        {% endif %}
							<!-- START PRODUCT-AREA -->
							<div class="product-area">
								<div class="row">
									<div class="col-xs-12 col-md-12">
										<!-- Start Product-Menu -->
										<div class="product-menu">
											<div class="product-title">
												<h3 class="title-group-2 gfont-1">Related Products</h3>
											</div>
										</div>
									</div>
								</div>
								<!-- End Product-Menu -->
								<div class="clear"></div>
								<!-- Start Product -->
								<div class="product carosel-navigation">
									<div class="row">
										<div class="active-product-carosel">
											<!-- Start Single-Product -->
											<div class="col-xs-12">
												<div class="single-product">
													<div class="product-img">
														<a href="#">
															<img class="primary-img" src="{% static 'img/product/mediam/3bg.jpg' %}" alt="Product">
														</a>
													</div>
													<div class="product-description">
														<h5><a href="#">Various Versions</a></h5>
														<div class="price-box">
															<span class="price">$80.00</span>
														</div>
													</div>
												</div>
											</div>
											<!-- End Single-Product -->
											<!-- Start Single-Product -->
											<div class="col-xs-12">
												<div class="single-product">
													<div class="product-img">
														<a href="#">
															<img class="primary-img" src="{% static 'img/product/mediam/11.jpg' %}" alt="Product">
														</a>
													</div>
													<div class="product-description">
														<h5><a href="#">Trid Palm</a></h5>
														<div class="price-box">
															<span class="price">$79.00</span>
														</div>
													</div>
												</div>
											</div>
											<!-- End Single-Product -->
											<!-- Start Single-Product -->
											<div class="col-xs-12">
												<div class="single-product">
													<div class="product-img">
														<a href="#">
															<img class="primary-img" src="{% static 'img/product/mediam/1.jpg' %}" alt="Product">
														</a>
													</div>
													<div class="product-description">
														<h5><a href="#">Established Fact</a></h5>
														<div class="price-box">
															<span class="price">$75.00</span>
														</div>
													</div>
												</div>
											</div>
											<!-- End Single-Product -->
											<!-- Start Single-Product -->
											<div class="col-xs-12">
												<div class="single-product">
													<div class="product-img">
														<a href="#">
															<img class="primary-img" src="{% static 'img/product/mediam/2.jpg' %}" alt="Product">
														</a>
													</div>
													<div class="product-description">
														<h5><a href="#">Trid Palm</a></h5>
														<div class="price-box">
															<span class="price">$95.00</span>
														</div>
													</div>
												</div>
											</div>
											<!-- End Single-Product -->
											<!-- Start Single-Product -->
											<div class="col-xs-12">
												<div class="single-product">
													<div class="product-img">
														<a href="#">
															<img class="primary-img" src="{% static 'img/product/mediam/13.jpg' %}" alt="Product">
														</a>
													</div>
													<div class="product-description">
														<h5><a href="#">Established Fact</a></h5>
														<div class="price-box">
															<span class="price">$82.00</span>
														</div>
													</div>
												</div>
											</div>
											<!-- End Single-Product -->
											<!-- Start Single-Product -->
											<div class="col-xs-12">
												<div class="single-product">
													<div class="product-img">
														<a href="#">
															<img class="primary-img" src="{% static 'img/product/mediam/10.jpg' %}" alt="Product">
														</a>
													</div>
													<div class="product-description">
														<h5><a href="#">Trid Palm</a></h5>
														<div class="price-box">
															<span class="price">$99.00</span>
														</div>
													</div>
												</div>
											</div>
											<!-- End Single-Product -->
											<!-- Start Single-Product -->
											<div class="col-xs-12">
												<div class="single-product">
													<div class="product-img">
														<a href="#">
															<img class="primary-img" src="{% static 'img/product/mediam/10bg.jpg' %}" alt="Product">
														</a>
													</div>
													<div class="product-description">
														<h5><a href="#">Various Versions</a></h5>
														<div class="price-box">
															<span class="price">$95.00</span>
														</div>
													</div>
												</div>
											</div>
											<!-- End Single-Product -->
										</div>
									</div>

								</div>
								<!-- End Product -->
							</div>
							<!-- END PRODUCT-AREA -->
						</div>
						<!-- End Toch-Prond-Area -->
					</div>
				</div>
			</div>
			<!-- START BRAND-LOGO-AREA -->
			<div class="brand-logo-area carosel-navigation">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="area-title">
								<h3 class="title-group border-red gfont-1">Brand Logo</h3>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="active-brand-logo">
							<div class="col-md-2">
								<div class="single-brand-logo">
									<a href="#"><img src="{% static 'img/brand/1.png' %}" alt=""></a>
								</div>
							</div>
							<div class="col-md-2">
								<div class="single-brand-logo">
									<a href="#"><img src="{% static 'img/brand/2.png' %}" alt=""></a>
								</div>
							</div>
							<div class="col-md-2">
								<div class="single-brand-logo">
									<a href="#"><img src="{% static 'img/brand/3.png' %}" alt=""></a>
								</div>
							</div>
							<div class="col-md-2">
								<div class="single-brand-logo">
									<a href="#"><img src="{% static 'img/brand/4.png' %}" alt=""></a>
								</div>
							</div>
							<div class="col-md-2">
								<div class="single-brand-logo">
									<a href="#"><img src="{% static 'img/brand/5.png' %}" alt=""></a>
								</div>
							</div>
							<div class="col-md-2">
								<div class="single-brand-logo">
									<a href="#"><img src="{% static 'img/brand/6.png' %}" alt=""></a>
								</div>
							</div>
							<div class="col-md-2">
								<div class="single-brand-logo">
									<a href="#"><img src="{% static 'img/brand/1.png' %}" alt=""></a>
								</div>
							</div>
							<div class="col-md-2">
								<div class="single-brand-logo">
									<a href="#"><img src="{% static 'img/brand/2.png' %}" alt=""></a>
								</div>
							</div>
							<div class="col-md-2">
								<div class="single-brand-logo">
									<a href="#"><img src="{% static 'img/brand/3.png' %}" alt=""></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END BRAND-LOGO-AREA -->
			<!-- START SUBSCRIBE-AREA -->
			<div class="subscribe-area">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-sm-7 col-xs-12">
							<label class="hidden-sm hidden-xs">Sign Up for Our Newsletter:</label>
							<div class="subscribe">
								<form action="#">
									<input type="text" placeholder="Enter Your E-mail">
									<button type="submit">Subscribe</button>
								</form>
							</div>
						</div>
						<div class="col-md-4 col-sm-5 col-xs-12">
							<div class="social-media">
								<a href="#"><i class="fa fa-facebook fb"></i></a>
								<a href="#"><i class="fa fa-google-plus gp"></i></a>
								<a href="#"><i class="fa fa-twitter tt"></i></a>
								<a href="#"><i class="fa fa-youtube yt"></i></a>
								<a href="#"><i class="fa fa-linkedin li"></i></a>
								<a href="#"><i class="fa fa-rss rs"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END SUBSCRIBE-AREA -->
		</section>

{% endblock content %}