{% extends 'base.html' %}
{% load static %}


{% block content %}


<section class="page-content">
			<div class="container">
	            <div class="row">
					<div class="col-md-12">
						<ul class="page-menu">
							<li><a href="/">Home</a></li>
							<li><a href="/category/{{ product.categ.id}}/">{{ product.categ }}</a></li>
							<li class="active">{{ product.name }}</li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						{% include 'landing/left_sidebar_category_meny.html' %}
	                    <div class="sidebar-banner hidden-sm hidden-xs">
	                    	<div class="active-sidebar-banner">
	                    		<div class="single-sidebar-banner">
	                    			<a href="#"><img src="{% static 'img//banner/1.jpg' %}" alt="Product Banner"></a>
	                    		</div>
	                    		<div class="single-sidebar-banner">
	                    			<a href="#"><img src="{% static 'img//banner/2.jpg' %}" alt="Product Banner"></a>
	                    		</div>
	                    	</div>
	                    </div>
	                    <!-- END SIDEBAR-BANNER -->
					</div>
					<div class="col-md-9 col-sm-12 col-xs-12">
						<!-- Start Toch-Prond-Area -->
						<div class="toch-prond-area">
							<div class="row">
								<div class="col-md-5 col-sm-5 col-xs-12">
									<div class="clear"></div>
									<div class="tab-content">
										<!-- Product = display-1-1 -->
										<div role="tabpanel" class="tab-pane fade in active" id="display-1">
											<div class="row">
												<div class="col-xs-12">
													<div class="toch-photo">
{#                                                        {% for image in product %}#}
														<a href="#"><img src="\media\{{product.image}}" data-imagezoom="true" alt="#" /></a>
{#                                                        {% endfor %}#}
													</div>
												</div>
											</div>
										</div>
										<!-- End Product = display-1-1 -->
										<!-- Start Product = display-1-2 -->
										<div role="tabpanel" class="tab-pane fade" id="display-2">
											<div class="row">
												<div class="col-xs-12">
													<div class="toch-photo">
														<a href="#"><img src="{% static 'img//toch/2.jpg' %}" data-imagezoom="true" alt="#" /></a>
													</div>
												</div>
											</div>
										</div>
										<!-- End Product = display-1-2 -->
										<!-- Start Product = di3play-1-3 -->
										<div role="tabpanel" class="tab-pane fade" id="display-3">
											<div class="row">
												<div class="col-xs-12">
													<div class="toch-photo">
														<a href="#"><img src="{% static 'img//toch/3.jpg' %}" data-imagezoom="true" alt="#" /></a>
													</div>
												</div>
											</div>
										</div>
										<!-- End Product = display-1-3 -->
										<!-- Start Product = di3play-1-4 -->
										<div role="tabpanel" class="tab-pane fade" id="display-4">
											<div class="row">
												<div class="col-xs-12">
													<div class="toch-photo">
														<a href="#"><img src="{% static 'img//toch/4.jpg' %}" data-imagezoom="true" alt="#" /></a>
													</div>
												</div>
											</div>
										</div>
										<!-- End Product = display-1-4 -->
									</div>
									<!-- Start Toch-prond-Menu -->
									<div class="toch-prond-menu">
										<ul role="tablist">
											<li role="presentation" class=" active"><a href="#display-1" role="tab" data-toggle="tab"><img src="{% static 'img//toch/1.jpg' %}" alt="#" /></a></li>
											<li role="presentation"><a href="#display-2" role="tab" data-toggle="tab"><img src="{% static 'img//toch/2.jpg' %}" alt="#" /></a></li>
											<li role="presentation"><a href="#display-3"  role="tab" data-toggle="tab"><img src="{% static 'img//toch/3.jpg' %}" alt="#" /></a></li>
											<li role="presentation"><a href="#display-4"  role="tab" data-toggle="tab"><img src="{% static 'img//toch/4.jpg' %}" alt="#" /></a></li>
										</ul>
									</div>
									<!-- End Toch-prond-Menu -->
								</div>
								<div class="col-md-7 col-sm-7 col-xs-12">
									<h2 class="title-product"> {{ product.name }}</h2>
									<div class="about-toch-prond">
										<p>
											<span class="rating">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star-o"></i>
											</span>
											<a href="#">1 reviews</a>
											/
											<a href="#">Write a review</a>
										</p>
										<hr />
										<p class="short-description">{% autoescape off %}{{ product.description_short }}{% endautoescape %} </p>
										<hr />
										<span class="current-price">${{ product.price }}</span>
										<span class="item-stock">Availability: <span class="text-stock">In Stock</span></span>
									</div>
{#									<div class="about-product">#}
{#										<div class="product-select product-color">#}
{#											<label><sup>*</sup>Color</label>#}
{#											<select class="form-control">#}
{#												<option> --- Please Select --- </option>#}
{#												<option>Black (+$10.00) </option>#}
{#												<option>White (+$8.00)</option>#}
{#												<option>Pink (+$30.00)</option>#}
{#												<option>Green (+$30.00)</option>#}
{#											</select>#}
{#										</div>#}
{#										<div class="product-select product-Size">#}
{#											<label><sup>*</sup>Size</label>#}
{#											<select class="form-control">#}
{#												<option> --- Please Select --- </option>#}
{#												<option>Small (+$10.00)</option>#}
{#												<option>Medium (+$20.00)</option>#}
{#												<option>Large (+$30.00)</option>#}
{#												<option>Extra Large (+$35.00)</option>#}
{#											</select>#}
{#										</div>#}
{#										<div class="product-select product-type">#}
{#											<label><sup>*</sup>Text</label>#}
{#											<input type="text"  class="form-control" placeholder="Text"/>#}
{#										</div>#}
{#										<div class="product-select product-date">#}
{#											<label><sup>*</sup>Date</label>#}
{#											<input type="text"  class="form-control" placeholder="2016/02/15"/>#}
{#										</div>#}
{#										<div class="product-select product-checkbox">#}
{#											<label><sup>*</sup>Checkbox</label>#}
{#											<label><input type="checkbox" /> Checkbox 1  (+$5.00)</label>#}
{#										</div>#}
{#										<div class="product-select product-button">#}
{#											<button type="submit" >#}
{#												<i class="fa fa-calendar"></i>#}
{#											</button>#}
{#										</div>#}
{#									</div>#}
									<form id="form_buing_product" action="{% url 'basket_adding' %}">{% csrf_token %}
                                    <div class="product-quantity">
										<span>Qty</span>
										<input type="number"  placeholder="0" name="namber" id="namber"/>
										<button type="submit" class="toch-button toch-add-cart btn-buy"
                                                data-product_id = "{{ product.id }}"
                                                data-name = "{{ product.name }}"
                                                data-price = "{{ product.price }}"
                                                id="submit_btn"
                                        >Add to Cart</button>
										<button type="submit" class="toch-button toch-wishlist">wishlist</button>
										<button type="submit" class="toch-button toch-compare">Compare</button>
										<hr />
										    <!-- Button trigger modal -->


									</div>
                                    </form>
								</div>
							</div>
							<!-- Start Toch-Box -->
                            <div class="toch-box">
                                 <div class="row">

                                       <ul class="nav nav-tabs">
                                          <li class="active"><a data-toggle="tab" href="#panel1">Описание</a></li>
                                          <li><a data-toggle="tab" href="#panel2">Характеристики</a></li>
                                       </ul>
                                          <div class="tab-content">
                                             <div id="panel1" class="tab-pane fade in active">
                                                  <p>{% autoescape off %}{{ product.description }}{% endautoescape %}</p>
                                             </div>

                                              <div id="panel2" class="tab-pane fade">
                                                      <h3>Панель 2</h3>
                                                      <p>Содержимое 2 панели...</p>
                                              </div>

                                          </div>

                                 </div>
                            </div>


							<!-- START PRODUCT-AREA -->
							<div class="product-area">
								<div class="row">
									<div class="col-xs-12 col-md-12">
										<!-- Start Product-Menu -->
										<div class="product-menu">
											<div class="product-title">
												<h3 class="title-group-2 gfont-1">Related Products</h3>
											</div>
										</div>
									</div>
								</div>
								<!-- End Product-Menu -->
								<div class="clear"></div>
								<!-- Start Product -->
								<div class="product carosel-navigation">
									<div class="row">
										<div class="active-product-carosel">
											<!-- Start Single-Product -->
											<div class="col-xs-12">
												<div class="single-product">
													<div class="product-img">
														<a href="#">
															<img class="primary-img" src="{% static 'img/product/mediam/3bg.jpg' %}" alt="Product">
														</a>
													</div>
													<div class="product-description">
														<h5><a href="#">Various Versions</a></h5>
														<div class="price-box">
															<span class="price">$80.00</span>
														</div>
													</div>
												</div>
											</div>
											<!-- End Single-Product -->
											<!-- Start Single-Product -->
											<div class="col-xs-12">
												<div class="single-product">
													<div class="product-img">
														<a href="#">
															<img class="primary-img" src="{% static 'img/product/mediam/11.jpg' %}" alt="Product">
														</a>
													</div>
													<div class="product-description">
														<h5><a href="#">Trid Palm</a></h5>
														<div class="price-box">
															<span class="price">$79.00</span>
														</div>
													</div>
												</div>
											</div>
											<!-- End Single-Product -->
											<!-- Start Single-Product -->
											<div class="col-xs-12">
												<div class="single-product">
													<div class="product-img">
														<a href="#">
															<img class="primary-img" src="{% static 'img/product/mediam/1.jpg' %}" alt="Product">
														</a>
													</div>
													<div class="product-description">
														<h5><a href="#">Established Fact</a></h5>
														<div class="price-box">
															<span class="price">$75.00</span>
														</div>
													</div>
												</div>
											</div>
											<!-- End Single-Product -->
											<!-- Start Single-Product -->
											<div class="col-xs-12">
												<div class="single-product">
													<div class="product-img">
														<a href="#">
															<img class="primary-img" src="{% static 'img/product/mediam/2.jpg' %}" alt="Product">
														</a>
													</div>
													<div class="product-description">
														<h5><a href="#">Trid Palm</a></h5>
														<div class="price-box">
															<span class="price">$95.00</span>
														</div>
													</div>
												</div>
											</div>
											<!-- End Single-Product -->
											<!-- Start Single-Product -->
											<div class="col-xs-12">
												<div class="single-product">
													<div class="product-img">
														<a href="#">
															<img class="primary-img" src="{% static 'img/product/mediam/13.jpg' %}" alt="Product">
														</a>
													</div>
													<div class="product-description">
														<h5><a href="#">Established Fact</a></h5>
														<div class="price-box">
															<span class="price">$82.00</span>
														</div>
													</div>
												</div>
											</div>
											<!-- End Single-Product -->
											<!-- Start Single-Product -->
											<div class="col-xs-12">
												<div class="single-product">
													<div class="product-img">
														<a href="#">
															<img class="primary-img" src="{% static 'img/product/mediam/10.jpg' %}" alt="Product">
														</a>
													</div>
													<div class="product-description">
														<h5><a href="#">Trid Palm</a></h5>
														<div class="price-box">
															<span class="price">$99.00</span>
														</div>
													</div>
												</div>
											</div>
											<!-- End Single-Product -->
											<!-- Start Single-Product -->
											<div class="col-xs-12">
												<div class="single-product">
													<div class="product-img">
														<a href="#">
															<img class="primary-img" src="{% static 'img/product/mediam/10bg.jpg' %}" alt="Product">
														</a>
													</div>
													<div class="product-description">
														<h5><a href="#">Various Versions</a></h5>
														<div class="price-box">
															<span class="price">$95.00</span>
														</div>
													</div>
												</div>
											</div>
											<!-- End Single-Product -->
										</div>
									</div>

								</div>
								<!-- End Product -->
							</div>
							<!-- END PRODUCT-AREA -->
						</div>
						<!-- End Toch-Prond-Area -->
					</div>
				</div>
			</div>
			<!-- START BRAND-LOGO-AREA -->
			<div class="brand-logo-area carosel-navigation">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="area-title">
								<h3 class="title-group border-red gfont-1">Brand Logo</h3>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="active-brand-logo">
							<div class="col-md-2">
								<div class="single-brand-logo">
									<a href="#"><img src="{% static 'img/brand/1.png' %}" alt=""></a>
								</div>
							</div>
							<div class="col-md-2">
								<div class="single-brand-logo">
									<a href="#"><img src="{% static 'img/brand/2.png' %}" alt=""></a>
								</div>
							</div>
							<div class="col-md-2">
								<div class="single-brand-logo">
									<a href="#"><img src="{% static 'img/brand/3.png' %}" alt=""></a>
								</div>
							</div>
							<div class="col-md-2">
								<div class="single-brand-logo">
									<a href="#"><img src="{% static 'img/brand/4.png' %}" alt=""></a>
								</div>
							</div>
							<div class="col-md-2">
								<div class="single-brand-logo">
									<a href="#"><img src="{% static 'img/brand/5.png' %}" alt=""></a>
								</div>
							</div>
							<div class="col-md-2">
								<div class="single-brand-logo">
									<a href="#"><img src="{% static 'img/brand/6.png' %}" alt=""></a>
								</div>
							</div>
							<div class="col-md-2">
								<div class="single-brand-logo">
									<a href="#"><img src="{% static 'img/brand/1.png' %}" alt=""></a>
								</div>
							</div>
							<div class="col-md-2">
								<div class="single-brand-logo">
									<a href="#"><img src="{% static 'img/brand/2.png' %}" alt=""></a>
								</div>
							</div>
							<div class="col-md-2">
								<div class="single-brand-logo">
									<a href="#"><img src="{% static 'img/brand/3.png' %}" alt=""></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END BRAND-LOGO-AREA -->
			<!-- START SUBSCRIBE-AREA -->
			<div class="subscribe-area">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-sm-7 col-xs-12">
							<label class="hidden-sm hidden-xs">Sign Up for Our Newsletter:</label>
							<div class="subscribe">
								<form action="#">
									<input type="text" placeholder="Enter Your E-mail">
									<button type="submit">Subscribe</button>
								</form>
							</div>
						</div>
						<div class="col-md-4 col-sm-5 col-xs-12">
							<div class="social-media">
								<a href="#"><i class="fa fa-facebook fb"></i></a>
								<a href="#"><i class="fa fa-google-plus gp"></i></a>
								<a href="#"><i class="fa fa-twitter tt"></i></a>
								<a href="#"><i class="fa fa-youtube yt"></i></a>
								<a href="#"><i class="fa fa-linkedin li"></i></a>
								<a href="#"><i class="fa fa-rss rs"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- END SUBSCRIBE-AREA -->
		</section>
    <!--modal-->

<!-- Modal -->
<div class="modal fade" id="prod" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Товар добавлен в корзину</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">Х</span>
        </button>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
{#        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>#}
{#        <button type="button" class="btn btn-primary">Save changes</button>#}
      </div>
    </div>
  </div>
</div>
    <!--end modal-->

{% endblock content %}